@use './../../../../assets/_colors.scss' as *;

mat-toolbar {
  background-color: $primary-color
}
.logo {
  height: 60px;
  margin-right: 16px;
}
// img {
//   background-image: url('/public/logo.svg') no-repeat;
// }
