<mat-toolbar  class="primary"
              style="background-color: primary-color;"
              container-background-color="tertiary">

  <div class="left">
   <img src="assets/img/logo.svg" alt="logo" style="width: 30px; height: auto;">
  </div>
  <span class="app-title" routerLink="/">Project Management</span>

  <span class="spacer"></span>
  <button mat-button routerLink="/projects">Projects</button>
  <button mat-button routerLink="/teams">Teams</button>
  <button mat-button routerLink="/settings">Settings</button>
</mat-toolbar>
