.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.content {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.project-card {
  padding: 1rem;
}
