<div class="app-container">

  <div class="page-header">
    <h1 class="page-title">Projects</h1>

    <button mat-raised-button color="primary" class="create-btn" (click)="openCreateProject()">
      Create Project
    </button>
  </div>

  <div class="projects-grid">
    @let list = projects();

    @if (list.length > 0) {
      @for (p of list; track p.id) {
        <app-project-item [project]="p"></app-project-item>
      }
    } @else {
      <p>No projects available.</p>
    }
  </div>
</div>
